MODEL:
  META_ARCHITECTURE: "RetinaFace"
  BACKBONE:
    FREEZE_AT: 0 # No pretrained models provided / Do not freeze shadow layers
  ANCHOR_GENERATOR:
    SIZES: [[16, 32], [64, 128], [256, 512]]
    ASPECT_RATIOS: [[1.0]]
    OFFSET: 0.5
  KEYPOINT_ON: True
  RETINAFACE:
    NUM_LANDMARK: 5
    LANDMARK_REG_WEIGHTS: (10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0)
  RETINANET:
    NUM_CONVS: 1
  ROI_KEYPOINT_HEAD:
    MIN_KEYPOINTS_PER_IMAGE: 0    # Do not filter images by landmark
DATASETS:
  TRAIN: ("widerface_train",)
  TEST: ("widerface_train",)
DATALOADER:
  NUM_WORKERS: 8
SOLVER:
  BASE_LR: 0.001  # Note that RetinaNet uses a different default learning rate
INPUT:
  MAX_SIZE_TRAIN: 840
  MIN_SIZE_TRAIN: (320, 480, 512, 640, 768, 800)
  CROP:
    ENABLED: True
    SIZE: [0.6, 0.6]
  MIN_SIZE_TEST: 800
  MAX_SIZE_TEST: 840
TEST:
  KEYPOINT_OKS_SIGMAS: [1.0, 1.0, 1.0, 1.0, 1.0]
  DETECTIONS_PER_IMAGE: 2200
VERSION: 2
